<!-- w:130 -->
<!-- h: 75 -->
<div layout="row">
    <div class="left-container">
        <div class="rect-item" id="legendNodeSizeContainer">
            <div layout="column" layout-fill class="wrapper" ng-controller="ngCnsVisual" ng-data-attr="ng-cns-visual" ng-vis-type="LegendNodeSize" id="nodeSize" ng-identifier="nodeSize">
            </div>
        </div>
        <div class="rect-item" id="legendNodeBarContainer">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="66%" height="66%" id="heg-legend-rect" viewbox="0 0 173.20508075688772 200">
                <g id="rect-legend-bar-group" transform="translate(86.60254037844386,146.41016151377545)" class="metric-rect"></g>
            </svg>
            <br>
            <div>
                <span class="rect-legend-metric" id="rect-legend-metric-name"></span>
                <br>
                <span class="rect-legend-metric" id="rect-legend-metric-value"></span>
            </div>
        </div>
    </div>
    <div class="right-container">
        <div class="discipline-name">
            <h2>Discipline: <span id="legend-disc-name"></span></h2>
            <h3>Subdiscipline: <span id="legend-subd-name"></span></h3>
        </div>
        <md-progress-circular progress id="legend-table-progress" class="md-accent" md-mode="indeterminate"></md-progress-circular>
        <div id="legend-table-container" ng-controller="tableCtrl">
            <table ng-table id="legend-table" class="table data-table" show-filter="false">
                <tr ng-repeat="row in tableData" ng-model="tableData">
                    <td st-ratio="25" title="'Name'">
                        {{row.last_name}}, {{row.first_name}}
                    </td>
                    <td st-ratio="5" style="width: 20px" title="'Pub Year'">
                        {{row.pub_year}}
                    </td>
                    <td st-ratio="70" title="'Article Title'" class="title">
                        <a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{row.pmid}}">{{row.article_title}}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>