<div class="about-scimap">
<h1>About</h1>
This administrative interface supports the management of existing and upload of new high-impact and transformative science (HITS) metrics for the HITS Metrics Visualization [1-3]. 
To make an existing metric (in)visible in the HITS Metrics Visualization, simply click it’s pen-shaped Edit icon in the table, and toggle True/False for Display. To delete an existing metric, click on (-) in Remove column. 
To add a new HITS metric, enter Metric ID, Metric Name, and Metric Description into the blank fields. Check Display if metric should be visible in the HITS Metrics Visualization. Select CREATE to add new metric to table. Next, upload data via Choose File. The data needs to be in a comma-separated format and list the HITS metric value for each PubMed ID, see sample file.
After all changes have been made, select COMPUTE to update metrics and compute new ranking values.
<h3>References</h3>
<ol>
<li>Börner, Katy, Richard Klavans, Michael Patek, Angela Zoss, Joseph R. Biberstine, Robert Light, Vincent Larivière, and Kevin W. Boyack. 2012. "<a href="http://cns.iu.edu/2012-UCSDMap.html" target="_blank">Design and Update of a Classification System: The UCSD Map of Science</a>". PLoS One 7 (7): e39464. <li>Joseph Staudt, Huifeng Yu, Robert P. Light, Gerald Marschke, Katy Bӧrner, and Bruce A. Weinberg. 2016. <a href="http://cns.iu.edu/docs/publications/2016-weinberg-bluesky.pdf" target="_blank">High-Impact and Transformative Science (HITS) Metrics</a>. Blue Sky III.</li></ol>
</div>